# For Loop

### 1. Write a program to print the number form 1to 10 using a for loop

In [2]:
for i in range(1,11):
     print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Create a program that prints all even number from 1 to 20 using a for loop.

In [4]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### 3. Write a program to calculate the sum of the  first 10 natural numbers.

In [6]:
total=0
for i in range(1,11):
    total+= i
print("sum:",total)

sum: 55

### 4. Create a program to print the elements of a list using a for loop.

In [7]:
fruits =["Banana", "Apple", "Strawberry", "Avocado", "Pineapple",]
for fruit in fruits:
    print(fruit)

Banana
Apple
Strawberry
Avocado
Pineapple

### 5. WAP to reverse a string usiing a for loop .

In [9]:
x = "Aditya"
y = " "
for i in x:
    y =i+y
print(y)

aytidA

### 6. Create a program to print the multiplication table of 5 using for loop.

In [10]:
for i in range (5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

### 7. WAP to find the factorial of a number using a for loop.

In [ ]:
x

### 8. Use a for loop to print the numbers from 10 down to 1 in reverse order.

In [16]:

for i in range(10,0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1