### Write a function that accepts three numbers as arguments and returns their average.

In [2]:
def sum(a,b,c):
    print((a+b+c)/3)

sum(10,20,20)

16.666666666666668

### Create a function that prints a person's details (name, age, city) using default arguments .

In [6]:
def details(name="Aditya",age=20,city="Meerut"):
    print(f"Hello,{name}.Your are {age} year old. You belong to {city}.")

details("Dev",21)

Hello,Dev.Your are 21 year old. You belong to Meerut.

### Write a function that calculates the volume of a box (length, width, height) with default values for width and height.

In [7]:
def volume(l,w=20,h=30):
    print(l*w*h)

volume(20,50)

30000

### Create a function that accepts a list of numbers and returns the largest number

In [5]:
def list(a,b,c):
    if(a>b and a>c):
        print(a)
    elif(b>c):
        print(b)
    else:
        print(c)


list (10,12,3)

12

### Write a function that takes two numbers as positional arguments and prints their sum.

In [1]:
def add(a,b):
    retune= a+b
    print(retune)

add(10,20)

30

### Create a function that accepts keyword arguments to print a formatted message.

In [8]:
def name(name):
    print(f"Hello {name}")

name("Aditya")

Hello Aditya

### Write a function that accepts keyword arguments for a student's name and grade, and prints them

In [11]:
def student (name,grade):
    print(f"Student Name:{name}")
    print(f"Grade = {grade}")

student("Aditya","A")

Student Name:Aditya
Grade = A

### Create a function that returns the total cost of items with an optional discount applied (using default arguments).

In [12]:
def calculate(items,discount=0):
    total amount= items-(items*discount)
    print(total amount)

calculate(100,5)

SyntaxError: invalid syntax (328885958.py, line 2)