### 1. Convert an integer to a string and concatenate it with another string.

In [4]:
X=24
print(type(X))
Y=str(X)
print(type(Y))

<class 'int'>
<class 'str'>

### 2. Write a program to convert a float to an integer.

In [6]:
X=34.5
print(type(X))
Y=int(X)
print(type(Y))

<class 'float'>
<class 'int'>

### 3. Convert a list to a tuple and print the result.

In [7]:
X= [1, 2, 3, 4, 5]
Y = tuple(X)
print(Y)

(1, 2, 3, 4, 5)

### 4. Write a program that converts a string "3.14" into a float.

In [8]:
X=str(3.14)
print(type(X))
Y=float(X)
print(type(Y))

<class 'str'>
<class 'float'>

### 5. Convert a boolean True into an integer and print the result

In [11]:
X=True
print(type(X))
Y=int(X)
print(type(Y))

<class 'bool'>
<class 'int'>

### 6. Write a program that converts a set into a list and prints both.

In [15]:
X=(1,2,3,4,5)
Y=list(X)
print(X)
print(type(X))
print(Y)
print(type(Y))

(1, 2, 3, 4, 5)
<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>

### 7. Convert a dictionaryâ€™s keys into a list and print the result

In [18]:
X={'a':1,'b':2,'c':3}
print(type(X))
Y=list(X)
print(type(Y))
print(Y)

<class 'dict'>
<class 'list'>
['a', 'b', 'c']

### 8. Write a program to convert a number into a string with two decimal places